main {
    max-width: 50em;
    margin: auto;
    font-family: sans-serif;
}

h1 {
    font-weight: 700;
    font-size: 36px;
    font-family: sans-serif;
    text-align: center;
    margin: 0.5rem 0;
}

header {
    border-bottom: 1px solid #cccccc;
}

#periodic-table {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr)) minmax(0, 0.2fr) repeat(16, minmax(0, 1fr));
    gap: 2px;
    width: 100%;
}

.element, #spacer {
    aspect-ratio: 1;
}

.element {
    background-color: rgba(0, 0, 0, 20%);
    border-radius: 4px;
    position: relative;
    display: flex;
}

.element .abbrev {
    font-size: 18px;
    margin: auto;
}

.element .atomic-number {
    position: absolute;
    top: 2px;
    left: 2px;
    font-size: 8px;
}

.element .name {
    position: absolute;
    bottom: 2px;
    font-size: 8px;
    text-align: center;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
}